body{
	font-size: 16px;
	color: #FFF;
}

/*Header*/

.navbar-brand h1{
	margin: 0 auto;
	font-size: 1.5em;
	color: #2C193F;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-collapse a{
	border: 1px solid #49226E;
	text-align: center;
	color: white;
}

.navbar-nav {
	background-color: #18131E;
}
/*End Header*/



/*Main Page*/
#main-content{
	height: 1000px;
}

#main-content .row{
	background-color: #6623A6;
}

#main-content h2, #main-content h3, #main-content p{
	color: black;
}


/*End Main Page*/